<html>
  <body background="https://www.lightyourmind.com/wp-content/uploads/2017/11/Books-Background-Hd-Wallpaper.jpg">


    <h1>Book Club</h1>

    <h2>Welcome to our Book Club!</h2>
    
    <h5>A Rails project by Rob Stringer and Mills Provosty.</h5>

    <ul>
      <li><%= link_to "Rob's Github", "https://github.com/mycobee" %></li>
      <li><%= link_to "Mills' Github", "https://github.com/MillsProvosty" %></li>
    </ul>

</body>
</html>
